.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  //   border-radius: 0.5rem;

  .info {
    background-color: teal;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
    // line-height: 0.1rem;
    row-gap: 0rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    // font-size: 0.8rem;

    div {
      //   padding-bottom: 0.5rem;
      //   padding: 0;
      padding-left: 2rem;
    }
    .invoice i {
      //   padding-bottom: 1rem;
      font-size: 0.8rem;
    }

    .parentStatus {
      padding: 0;
      text-align: right;
      //   padding-right: 1rem;
    }
    .status {
      background-color: orange;
      color: white;
      padding: 0.5rem;
      border-radius: 0.4rem;
      font-style: oblique;
      //   min-width: 70px;
    }
  }

  .orderItems {
    list-style: decimal;
    font-size: 0.9rem;
    // margin: 0 0; //not needed now, padding can do it
    padding-left: 2rem;
    font-weight: bold;
  }
  .address {
    text-align: right;
    padding-right: 1rem;
    margin: 0.5rem 0;
  }
  .totlprc {
    text-align: start;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }
}
